html {
  font-size: 62.5%;
}

body {
  background-color: blue;
  margin: 0;
  padding: 0;

  h1 {
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }
}